@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-sb-bg-sidebar text-sb-fg;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
  }

  * {
    @apply box-border;
  }

  body {
    @apply m-0 min-w-0;
  }

  button,
  input,
  textarea {
    font: inherit;
  }
}
